{% extends "layout.html" %}
{% block title %}About Us{% endblock %}
{% block content %}
  <div> <p style="font-size:100px;font-family: 'Roboto', sans-serif;position:relative; top:20%">About Us</p> </div>
  <div class="box">
    <h2 class="about" style="text-align: justify;width:95vw;margin:10px;">Cyber-security agencies and cyber crime department need prevent crime and have security measures. CCTV has become an essential part of crime prevention and security measures.
      Due to large availability of video content on the CCTV which ranges from few minutes to many hours, so it’s difficult to browse over a particular event 
      We need a way to summarize the large video content into a concise file that contains only the necessary content needed by using video summarization
      Video summarization is to generate  short summary of the content of longer video document by selecting and presenting the most informative action frames for potential users.
    </h2><br>
    <h2 class="about" style="text-align:justify;width:95vw;margin:10px;">We propose a method to address the problem of Video Summarization, which aims to generate a summarized video by preserving the salient activities of the input video for a user specified time. 
    </h2><br>
    <h2  class="about">Our Team,</h2>
    <h2  class="about">Nachiket Madihalli[2KE19CS055]</h2>
    <h2  class="about">Kushal Raga[2KE19CS048]</h2>
    <h2  class="about">Sudha Shettigar[2KE20CS409]</h2>
    <h2  class="about">Rakesh Mirji [2KE19CS078]</h2>
  </div>
{% endblock %}

