{% extends "layout.html" %}
{% block title %}Video Summarization{% endblock %}
{% block content %}
  <div class="know"> <p style="font-size:100px;font-family: 'Roboto', sans-serif;" >Video Summarization</p> </div>
  <div class="page" style="display: inline-flex;justify-content: space-evenly;width: 95vw;">
    <img class="left" src="/static/images/web2.webp" alt=""> <div class='right' class=""><h3 class="content"  style="font-size: 1.5rem;text-align: center;position: relative;top: 12vw;line-height: 1.6;">
      Video summarization is the process of condensing a video into a shorter version while capturing its essential content and preserving the key information. It involves automatically selecting the most representative and informative parts of a video and combining them into a concise summary. Video summarization techniques aim to save time for viewers by providing a condensed version of a video's highlights or main points without requiring them to watch the entire video.</h3></div>
  </div>
  <div class="page" style="display: inline-flex;justify-content: space-evenly;width: 95vw;">
    <div  class="left"><h3 class="content"  style="font-size: 1.5rem;text-align: center;position: relative;top: 12vw;line-height: 1.6;">This approach involves identifying and tracking specific objects or actions in a video. By focusing on these recognized elements, the summarization algorithm can extract the most relevant parts of the video.</h3> </div> <img class='right' src="/static/images/web4.webp" alt="">
  </div>
  <div class="page"  style="display: inline-flex;justify-content: space-evenly;width: 95vw;">
    <img class='left' src="/static/images/web5.webp" alt=""> <div class='right' class=""><h3 class="content" style="font-size: 1.5rem;text-align: center;position: relative;top: 12vw;line-height: 1.6;">Video summarization has various applications, including video browsing, content indexing, surveillance video analysis, and generating video previews for online platforms. It can help users quickly grasp the content of lengthy videos and facilitate efficient video retrieval and browsing.</h3></div>
  </div>
{% endblock %}

